# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.thatgamecompany Design Test.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\_PROJECTS\thatgamecompany Design Test\.idea\.idea.thatgamecompany Design Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
